@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3 {
  padding: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-weight: 900;
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

/* BASE LAYOUT */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* FLOAT LAYOUT */
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
.col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12,
.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12,
.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 10px;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* FLOAT on DESKTOP */
@media (min-width: 1200px) {
  .col-l-1 {
    width: 8.33333%;
  }
  .col-l-2 {
    width: 16.66667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33333%;
  }
  .col-l-5 {
    width: 41.66667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33333%;
  }
  .col-l-8 {
    width: 66.66667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33333%;
  }
  .col-l-11 {
    width: 91.66667%;
  }
  .col-l-12 {
    width: 100%;
  }
}

/* FLOAT on TABLET */
@media (min-width: 768px) and (max-width: 1199px) {
  .col-m-1 {
    width: 8.33333%;
  }
  .col-m-2 {
    width: 16.66667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333%;
  }
  .col-m-5 {
    width: 41.66667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333%;
  }
  .col-m-8 {
    width: 66.66667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333%;
  }
  .col-m-11 {
    width: 91.66667%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* FLOAT on MOBILE */
@media (max-width: 767px) {
  .col-s-1 {
    width: 8.33333%;
  }
  .col-s-2 {
    width: 16.66667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333%;
  }
  .col-s-5 {
    width: 41.66667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333%;
  }
  .col-s-8 {
    width: 66.66667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333%;
  }
  .col-s-11 {
    width: 91.66667%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/* GRID LAYOUT */
@supports (display: grid) {
  .row:before,
  .row:after {
    content: none;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6, .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12,
  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6, .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12,
  .col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6, .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12 {
    width: auto;
  }
  .col-1 {
    grid-column: auto / span 1;
  }
  .col-2 {
    grid-column: auto / span 2;
  }
  .col-3 {
    grid-column: auto / span 3;
  }
  .col-4 {
    grid-column: auto / span 4;
  }
  .col-5 {
    grid-column: auto / span 5;
  }
  .col-6 {
    grid-column: auto / span 6;
  }
  .col-7 {
    grid-column: auto / span 7;
  }
  .col-8 {
    grid-column: auto / span 8;
  }
  .col-9 {
    grid-column: auto / span 9;
  }
  .col-10 {
    grid-column: auto / span 10;
  }
  .col-11 {
    grid-column: auto / span 11;
  }
  .col-12 {
    grid-column: auto / span 12;
  }
  /* GRID on DESKTOP */
  @media (min-width: 1200px) {
    .col-l-1 {
      grid-column: auto / span 1;
    }
    .col-l-2 {
      grid-column: auto / span 2;
    }
    .col-l-3 {
      grid-column: auto / span 3;
    }
    .col-l-4 {
      grid-column: auto / span 4;
    }
    .col-l-5 {
      grid-column: auto / span 5;
    }
    .col-l-6 {
      grid-column: auto / span 6;
    }
    .col-l-7 {
      grid-column: auto / span 7;
    }
    .col-l-8 {
      grid-column: auto / span 8;
    }
    .col-l-9 {
      grid-column: auto / span 9;
    }
    .col-l-10 {
      grid-column: auto / span 10;
    }
    .col-l-11 {
      grid-column: auto / span 11;
    }
    .col-l-12 {
      grid-column: auto / span 12;
    }
  }
  /* GRID on TABLET */
  @media (min-width: 768px) and (max-width: 1199px) {
    .col-m-1 {
      grid-column: auto / span 1;
    }
    .col-m-2 {
      grid-column: auto / span 2;
    }
    .col-m-3 {
      grid-column: auto / span 3;
    }
    .col-m-4 {
      grid-column: auto / span 4;
    }
    .col-m-5 {
      grid-column: auto / span 5;
    }
    .col-m-6 {
      grid-column: auto / span 6;
    }
    .col-m-7 {
      grid-column: auto / span 7;
    }
    .col-m-8 {
      grid-column: auto / span 8;
    }
    .col-m-9 {
      grid-column: auto / span 9;
    }
    .col-m-10 {
      grid-column: auto / span 10;
    }
    .col-m-11 {
      grid-column: auto / span 11;
    }
    .col-m-12 {
      grid-column: auto / span 12;
    }
  }
  /* GRID on MOBILE */
  @media (max-width: 767px) {
    .col-s-1 {
      grid-column: auto / span 1;
    }
    .col-s-2 {
      grid-column: auto / span 2;
    }
    .col-s-3 {
      grid-column: auto / span 3;
    }
    .col-s-4 {
      grid-column: auto / span 4;
    }
    .col-s-5 {
      grid-column: auto / span 5;
    }
    .col-s-6 {
      grid-column: auto / span 6;
    }
    .col-s-7 {
      grid-column: auto / span 7;
    }
    .col-s-8 {
      grid-column: auto / span 8;
    }
    .col-s-9 {
      grid-column: auto / span 9;
    }
    .col-s-10 {
      grid-column: auto / span 10;
    }
    .col-s-11 {
      grid-column: auto / span 11;
    }
    .col-s-12 {
      grid-column: auto / span 12;
    }
  }
}

/* HEADER */
header {
  background-color: #313234;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

header .container::after {
  content: "";
  display: table;
  clear: both;
}

header .logo {
  line-height: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav a {
  display: block;
  line-height: 3rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8rem;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

nav a:hover {
  color: #00c7e8;
}

/* HEADER on MOBILE */
@media (max-width: 767px) {
  .logo,
  nav ul {
    display: block;
    float: none;
    text-align: center;
  }
  nav li {
    display: block;
  }
}

/* HEADER on TABLET & DESKTOP */
@media (min-width: 768px) {
  .logo {
    float: left;
  }
  nav ul {
    float: right;
  }
  nav li {
    display: inline-block;
  }
}

/* HEADER on TABLET & MOBILE */
@media (max-width: 1199px) {
  nav li {
    padding: 0 1.7rem;
  }
}

/* HEADER on DESKTOP */
@media (min-width: 1200px) {
  nav li {
    padding: 0 3rem;
  }
}

/* JUMBOTRON */
.jumbotron {
  background-image: url("https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?w=1920");
  background-position: center;
  background-size: cover;
  min-height: 50vh;
  position: relative;
}

.slogan {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  min-width: 45vw;
  padding: 1rem;
  padding-right: 6rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  text-transform: uppercase;
}

.slogan h1,
.slogan h1 span {
  font-size: 1.5rem;
}

.slogan h1 {
  font-weight: 400;
}

.slogan h1 span {
  font-weight: 900;
}

/* BENEFITS */
.benefits .fa {
  display: inline-block;
  margin: 1rem;
  background-color: #313234;
  color: #ffffff;
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 1rem;
  font-size: 3rem;
}

.symbol i,
.symbol h3 {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.symbol:hover i {
  background-color: #00c7e8;
}

.symbol:hover h3 {
  color: #00c7e8;
}

/* FEATURED WORKS */
.featured-works {
  padding: 0 2rem;
}

.benefits p,
.featured-works p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.benefits .container,
.featured-works .container {
  margin: 2rem auto;
  text-align: center;
}

/* GALLERY */
.city,
.laptop,
.girl,
.people {
  background-position: center;
  background-size: cover;
  height: 15rem;
  padding: 0;
}

.city:hover .layer,
.laptop:hover .layer,
.girl:hover .layer,
.people:hover .layer {
  background-color: rgba(0, 0, 0, 0.5);
}

.city {
  background-image: url("https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?w=800");
}

.laptop {
  background-image: url("https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?w=500");
}

.girl {
  background-image: url("https://images.unsplash.com/reserve/RONyPwknRQOO3ag4xf3R_Kinsey.jpg?w=500");
}

.people {
  background-image: url("https://images.unsplash.com/photo-1421977870504-378093748ae6?w=800");
}

.layer {
  display: block;
  height: 15rem;
  line-height: 15rem;
  background-color: transparent;
  text-align: center;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.layer .fa {
  display: none;
  margin: 0 2rem;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
  background-color: rgba(222, 222, 222, 0.5);
  border-radius: 0.25rem;
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.layer .fa:hover {
  background-color: #dddddd;
}

.layer:hover .fa {
  display: inline-block;
}

/* GALLERY on TABLET & MOBILE */
@media (max-width: 1199px) {
  .city,
  .laptop,
  .girl,
  .people {
    position: relative;
  }
  .layer .fa {
    margin: 0;
    display: inline-block;
    position: absolute;
    bottom: 1rem;
  }
  .layer .fa-link {
    right: 3rem;
  }
  .layer .fa-search {
    right: 1rem;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Njc3MvX2dsb2JhbC5zY3NzIiwiLi4vc2Nzcy9fdmFyaWFibGVzLnNjc3MiLCIuLi9zY3NzL19sYXlvdXQuc2NzcyIsIi4uL3Njc3MvbGF5b3V0L19sYXlvdXQtZmxvYXQuc2NzcyIsInN0eWxlLmNzcyIsIi4uL3Njc3MvbGF5b3V0L19sYXlvdXQtZ3JpZC5zY3NzIiwiLi4vc2Nzcy9ib2R5L19oZWFkZXIuc2NzcyIsIi4uL3Njc3MvYm9keS9fanVtYm90cm9uLnNjc3MiLCIuLi9zY3NzL2JvZHkvX2JlbmVmaXRzLnNjc3MiLCIuLi9zY3NzL2JvZHkvX2dhbGxlcnkuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSwyRUFBWTtBQUVaO0VBQ0UsK0JBQXNCO1VBQXRCLHVCQUFzQjtDQUN2Qjs7QUFDRDtFQUNFLDRCQUFtQjtVQUFuQixvQkFBbUI7Q0FDcEI7O0FBRUQ7Ozs7O0VBS0UsVUFBUztFQUNULFdBQVU7Q0FDWDs7QUFDRDtFQUNFLG1DQ2pCaUM7RURrQmpDLGlCQ2pCZTtDRGtCaEI7O0FBQ0Q7OztFQUdFLGdCQUFlO0VBQ2YsaUJDdEJhO0VEdUJiLDBCQUF5QjtDQUMxQjs7QUFDRDtFQUNFLGlCQ3pCYztFRDBCZCxrQkFBaUI7Q0FDbEI7O0FBQ0Q7RUFDRSxnQkFBZTtDQUNoQjs7QUVsQ0QsaUJBQWlCO0FBQ2pCO0VBQ0UsWUFBVztFQUNYLGtCQUFpQjtFQUNqQixlQUFjO0NBQ2Y7O0FDTEQsa0JBQWtCO0FBQ2xCOztFQUVFLFlBQVc7RUFDWCxlQUFlO0VBQ2YsWUFBVztDQUNaOztBQUlEOzs7O0VBQ0UsWUFBVztFQUNYLFlBQVc7RUFDWCxnQkFBZTtFQUNoQixjQUFhO0NBQ2I7O0FBU0Q7RUFBUSxnQkFBcUI7Q0FBRzs7QUFDaEM7RUFBUSxpQkFBcUI7Q0FBRzs7QUFDaEM7RUFBUSxXQUFxQjtDQUFHOztBQUNoQztFQUFRLGlCQUFxQjtDQUFHOztBQUNoQztFQUFRLGlCQUFxQjtDQUFHOztBQUNoQztFQUFRLFdBQXFCO0NBQUc7O0FBQ2hDO0VBQVEsaUJBQXFCO0NBQUc7O0FBQ2hDO0VBQVEsaUJBQXFCO0NBQUc7O0FBQ2hDO0VBQVEsV0FBcUI7Q0FBRzs7QUFDaEM7RUFBUyxpQkFBc0I7Q0FBRzs7QUFDbEM7RUFBUyxpQkFBc0I7Q0FBRzs7QUFDbEM7RUFBUyxZQUFzQjtDQUFHOztBQUVsQyxzQkFBc0I7QUFDdEI7RUFFRTtJQUFVLGdCQUFxQjtHQUFHO0VBQ2xDO0lBQVUsaUJBQXFCO0dBQUc7RUFDbEM7SUFBVSxXQUFxQjtHQUFHO0VBQ2xDO0lBQVUsaUJBQXFCO0dBQUc7RUFDbEM7SUFBVSxpQkFBcUI7R0FBRztFQUNsQztJQUFVLFdBQXFCO0dBQUc7RUFDbEM7SUFBVSxpQkFBcUI7R0FBRztFQUNsQztJQUFVLGlCQUFxQjtHQUFHO0VBQ2xDO0lBQVUsV0FBcUI7R0FBRztFQUNsQztJQUFXLGlCQUFzQjtHQUFHO0VBQ3BDO0lBQVcsaUJBQXNCO0dBQUc7RUFDcEM7SUFBVyxZQUFzQjtHQUFHO0NDb0dyQzs7QURoR0QscUJBQXFCO0FBQ3JCO0VBRUU7SUFBVSxnQkFBcUI7R0FBRztFQUNsQztJQUFVLGlCQUFxQjtHQUFHO0VBQ2xDO0lBQVUsV0FBcUI7R0FBRztFQUNsQztJQUFVLGlCQUFxQjtHQUFHO0VBQ2xDO0lBQVUsaUJBQXFCO0dBQUc7RUFDbEM7SUFBVSxXQUFxQjtHQUFHO0VBQ2xDO0lBQVUsaUJBQXFCO0dBQUc7RUFDbEM7SUFBVSxpQkFBcUI7R0FBRztFQUNsQztJQUFVLFdBQXFCO0dBQUc7RUFDbEM7SUFBVyxpQkFBc0I7R0FBRztFQUNwQztJQUFXLGlCQUFzQjtHQUFHO0VBQ3BDO0lBQVcsWUFBc0I7R0FBRztDQzBIckM7O0FEdEhELHFCQUFxQjtBQUNyQjtFQUVFO0lBQVUsZ0JBQXFCO0dBQUc7RUFDbEM7SUFBVSxpQkFBcUI7R0FBRztFQUNsQztJQUFVLFdBQXFCO0dBQUc7RUFDbEM7SUFBVSxpQkFBcUI7R0FBRztFQUNsQztJQUFVLGlCQUFxQjtHQUFHO0VBQ2xDO0lBQVUsV0FBcUI7R0FBRztFQUNsQztJQUFVLGlCQUFxQjtHQUFHO0VBQ2xDO0lBQVUsaUJBQXFCO0dBQUc7RUFDbEM7SUFBVSxXQUFxQjtHQUFHO0VBQ2xDO0lBQVcsaUJBQXNCO0dBQUc7RUFDcEM7SUFBVyxpQkFBc0I7R0FBRztFQUNwQztJQUFXLFlBQXNCO0dBQUc7Q0NnSnJDOztBQ3ZPRCxpQkFBaUI7QUFDTztFQUV0Qjs7SUFFRSxjQUFhO0dBQ2Q7RUFDRDtJQUNFLGNBQWE7SUFDYix1Q0FBc0M7R0FDdkM7RUFFRDs7OztJQUNFLFlBQVc7R0FDWjtFQUNEO0lBQVEsMkJBQTBCO0dBQUk7RUFDdEM7SUFBUSwyQkFBMEI7R0FBSTtFQUN0QztJQUFRLDJCQUEwQjtHQUFJO0VBQ3RDO0lBQVEsMkJBQTBCO0dBQUk7RUFDdEM7SUFBUSwyQkFBMEI7R0FBSTtFQUN0QztJQUFRLDJCQUEwQjtHQUFJO0VBQ3RDO0lBQVEsMkJBQTBCO0dBQUk7RUFDdEM7SUFBUSwyQkFBMEI7R0FBSTtFQUN0QztJQUFRLDJCQUEwQjtHQUFJO0VBQ3RDO0lBQVMsNEJBQTJCO0dBQUk7RUFDeEM7SUFBUyw0QkFBMkI7R0FBSTtFQUN4QztJQUFTLDRCQUEyQjtHQUFJO0VBRXhDLHFCQUFxQjtFQUNyQjtJQUVFO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVcsNEJBQTJCO0tBQUk7SUFDMUM7TUFBVyw0QkFBMkI7S0FBSTtJQUMxQztNQUFXLDRCQUEyQjtLQUFJO0dEeVIzQztFQ3JSRCxvQkFBb0I7RUFDcEI7SUFFRTtNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFXLDRCQUEyQjtLQUFJO0lBQzFDO01BQVcsNEJBQTJCO0tBQUk7SUFDMUM7TUFBVyw0QkFBMkI7S0FBSTtHRDhTM0M7RUMxU0Qsb0JBQW9CO0VBQ3BCO0lBRUU7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVSwyQkFBMEI7S0FBSTtJQUN4QztNQUFVLDJCQUEwQjtLQUFJO0lBQ3hDO01BQVUsMkJBQTBCO0tBQUk7SUFDeEM7TUFBVyw0QkFBMkI7S0FBSTtJQUMxQztNQUFXLDRCQUEyQjtLQUFJO0lBQzFDO01BQVcsNEJBQTJCO0tBQUk7R0RtVTNDO0NBQ0Y7O0FFbFpELFlBQVk7QUFDWjtFQUNFLDBCTE1jO0VLTGQsaUJMQWE7RUtDYiwwQkFBeUI7RUFDekIsZUxFcUI7Q0tZdEI7O0FBbEJEO0VBT0ksWUFBVztFQUNYLGVBQWM7RUFDZCxZQUFXO0NBQ1o7O0FBVkg7RUFhSSxvQkFBbUI7RUFDbkIsZ0JBQWU7RUFDZixrQkFBaUI7Q0FDbEI7O0FBSUg7RUFHSSxVQUFTO0VBQ1QsV0FBVTtFQUNWLHNCQUFxQjtDQUN0Qjs7QUFOSDtFQVNJLGVBQWM7RUFDZCxrQkFBaUI7RUFDakIsc0JBQXFCO0VBQ3JCLGVMMUJtQjtFSzJCbkIsa0JBQWlCO0VBQ2pCLG1DTHhCZ0I7VUt3QmhCLDJCTHhCZ0I7Q0s2QmpCOztBQW5CSDtFQWlCTSxlTDdCYTtDSzhCZDs7QUFLTCxzQkFBc0I7QUFDdEI7RUFFRTs7SUFFRSxlQUFjO0lBQ2QsWUFBVztJQUNYLG1CQUFrQjtHQUNuQjtFQUNEO0lBQ0UsZUFBYztHQUNmO0NGK1lGOztBRTNZRCxnQ0FBZ0M7QUFDaEM7RUFFRTtJQUNFLFlBQVc7R0FDWjtFQUNEO0lBQ0UsYUFBWTtHQUNiO0VBQ0Q7SUFDRSxzQkFBcUI7R0FDdEI7Q0Y2WUY7O0FFellELCtCQUErQjtBQUMvQjtFQUVFO0lBQ0Usa0JBQWlCO0dBQ2xCO0NGMllGOztBRXZZRCx1QkFBdUI7QUFDdkI7RUFFRTtJQUNFLGdCQUFlO0dBQ2hCO0NGeVlGOztBR2plRCxlQUFlO0FBQ2Y7RUFFSSxrR0FBc0Y7RUFDdEYsNEJBQWdCO0VBQ2hCLHVCQUFXO0VBRWIsaUJBQWdCO0VBQ2hCLG1CQUFrQjtDQUNuQjs7QUFFRDtFQUNFLG1CQUFrQjtFQUNsQixTQUFRO0VBQ1IsU0FBUTtFQUNSLG9DQUEyQjtVQUEzQiw0QkFBMkI7RUFDM0IsZ0JBQWU7RUFDZixjQUFhO0VBQ2Isb0JBQW1CO0VBQ25CLHFDQUFvQztFQUNwQyxlTmJxQjtFTWNyQiwwQkFBeUI7Q0FlMUI7O0FBekJEOztFQWNJLGtCQUFpQjtDQUNsQjs7QUFmSDtFQWtCSSxpQk4zQmE7Q01nQ2Q7O0FBdkJIO0VBcUJNLGlCTjVCVTtDTTZCWDs7QUNqQ0wsY0FBYztBQUNkO0VBQ0Usc0JBQXFCO0VBQ3JCLGFBQVk7RUFDWiwwQlBJYztFT0hkLGVQRXFCO0VPRHJCLGFBQVk7RUFDWixZQUFXO0VBQ1gsa0JBQWlCO0VBQ2pCLG9CQUFtQjtFQUNuQixnQkFBZTtDQUNoQjs7QUFFRDs7RUFHSSxtQ1BMZ0I7VU9LaEIsMkJQTGdCO0NPTWpCOztBQUpIO0VBT00sMEJQWGE7Q09ZZDs7QUFSTDtFQVVNLGVQZGE7Q09lZDs7QUFJTCxvQkFBb0I7QUFDcEI7RUFDRSxnQkFBZTtDQUNoQjs7QUFFRDs7RUFHSSxrQkFBaUI7RUFDakIsb0JBQW1CO0NBQ3BCOztBQUxIOztFQVFJLGtCQUFpQjtFQUNqQixtQkFBa0I7Q0FDbkI7O0FDM0NILGFBQWE7QUFDYjs7OztFQUlFLDRCQUEyQjtFQUMzQix1QkFBc0I7RUFDdEIsY0FBYTtFQUNiLFdBQVU7Q0FLWDs7QUFaRDs7OztFQVVJLHFDQUFvQztDQUNyQzs7QUFFSDtFQUNFLDBIQUF5SDtDQUMxSDs7QUFDRDtFQUNFLGlHQUFnRztDQUNqRzs7QUFDRDtFQUNFLG1HQUFrRztDQUNuRzs7QUFDRDtFQUNFLDRGQUEyRjtDQUM1Rjs7QUFFRDtFQUNFLGVBQWM7RUFDZCxjQUFhO0VBQ2IsbUJBQWtCO0VBQ2xCLDhCQUFrQztFQUNsQyxtQkFBa0I7RUFDbEIsbUNSdEJrQjtVUXNCbEIsMkJSdEJrQjtDUTZDbkI7O0FBN0JEO0VBU0ksY0FBYTtFQUNiLGVBQWM7RUFDZCxlQUFjO0VBQ2QsY0FBYTtFQUNiLG9CQUFtQjtFQUNuQixnQkFBZTtFQUNmLDJDQUEwQztFQUMxQyx1QkFBc0I7RUFDdEIsZ0JBQWU7RUFDZixtQ1JsQ2dCO1VRa0NoQiwyQlJsQ2dCO0NRdUNqQjs7QUF2Qkg7RUFxQk0sMEJBQXlCO0NBQzFCOztBQXRCTDtFQTBCSSxzQkFBcUI7Q0FDdEI7O0FBSUgsZ0NBQWdDO0FBQ2hDO0VBRUU7Ozs7SUFJRSxtQkFBa0I7R0FDbkI7RUFDRDtJQUVJLFVBQVM7SUFDVCxzQkFBcUI7SUFDckIsbUJBQWtCO0lBQ2xCLGFBQVk7R0FDYjtFQU5IO0lBUUksWUFBVztHQUNaO0VBVEg7SUFXSSxZQUFXO0dBQ1o7Q0xzakJKIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */