@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
p,
figure {
  margin: 0;
  padding: 0;
}
body {
  font-family: $fnt-primary;
  font-weight: $fntw-normal;
}
h1,
h2,
h3 {
  padding: 0.5rem;
  font-weight: $fntw-bold;
  text-transform: uppercase;
}
h2 {
  font-weight: $fntw-black;
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}