// VARIABLES
$fnt-primary: 'Raleway', sans-serif;
$fntw-normal: 400;
$fntw-bold: 700;
$fntw-black: 900;

$clr-primary: #000000;
$clr-secondary: #ffffff;
$clr-bg: #313234;
$clr-hover: #00c7e8;

$trn-duration: 0.25s;
